/* RHS */

* {
    box-sizing: border-box;
}
body {
    margin:32px;
}
h1 {
    text-align: center;
    color: #444;
}

#root {
    font-size: 0px;
    line-height: 0px;
    box-shadow: 10px 10px 20px #ccc;
    border: 1px solid #ddd;
}

#graphContainer,
#configurationContainer {
    font-size: 14px;
    line-height: normal;
    display: inline-block;
    vertical-align: top;
}

#graphContainer {
    width: 80%;
}

#graphContainer>div {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.subGraphTitle {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
    text-align: center;
    color: #888;
}

#graphContainer>div:not(:first-child) {
    border-left: 1px solid #ddd;
}

#configurationContainer {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 16px;
    width: 20%;
}

h2 {
    margin-top: 0px;
}

hr {
    border-top: 1px solid #ccc;
    margin: 2em auto;
    width: 75%;
}


/* Range Inputs */

.input {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input h3 {
    width: 100%;
}

.input .rangeContainer {
    display: inline-block;
    margin-right: 15px;
}

.input span {
    display: inline-block;
    vertical-align: middle;
}

.input input {
    display: inline-block;
    vertical-align: middle;
}

.input input[type=text] {
    width: 50px;
}


/* On/Off Switch */

.onoffswitch,
.switchLabel {
    display: inline-block;
    vertical-align: middle;
}

.onoffswitch {
    position: relative;
    width: 40px;
    user-select: none;
    margin: 0px 1em;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 5px;
    padding: 0;
    line-height: 5px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #4286f4;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 15px;
    margin: -5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 31px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}